<%- include ('partials/header') %>
<%- include ('partials/theme') %> 
<br><br><br>
<style>

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
</style>

<section>
    <p>Lets have a look of result based on antutu score and their order , This order is based on antutu score only and order based on other attributes the result order may be different</p>
    <center style="padding: 10px;"><h6>Order based on Antutu Score</h6></center>
    <table>
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Name</th>
                <th scope="col">Antutu</th>
                <th scope="col">GeekBench SingleCore</th>
                <th scope="col">GeekBench MultiCore</th>
                <th scope="col">GPU</th>
                <th scope="col">Mr.CPU Rating</th>
            </tr>
        </thead>
        <tbody>
            <% var i=1; %> 
            <% top.forEach(function(device){  %> 
                <tr>
                    <td data-label="S.No."><%= i %> </td>
                    <td data-label="Name"><a href="templates/<%= device._id %> "><%= device.name %></a></td>
                    <td data-label="Antutu"><%= device.antutu %> </td>
                    <td data-label="GeekBench SingleCore"><%= device.singleCore %> </td>
                    <td data-label="GeekBench MultiCore"><%= device.gpu %> </td>
                    <td data-label="GPU"><%= device.multiCore %> </td>
                    <td data-label="Mr.CPU Rating"><%= device.myReview %> </td>
                <% i = i+1 %>
                </tr> 
            <%  });%> 
        </tbody>
    </table>
</section>
<!-- ================================================== -->

</body>

<%- include ('partials/footer') %>
</html>